<%= form_with model: @customer, url: customers_withdrawal_path, method: :patch do |f| %>

<h1>本当に退会しますか？</h1>

<div>
    退会すると、会員登録情報や<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
</div>

<%= link_to "退会しない", customers_mypage_path %>
<%= f.submit "退会する" %>

<% end %>
