// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top_image{
    background-image: url('/assets/images/top.jpg');
    width: 400px;
    height: 300px;
}