<h1>注文履歴詳細</h1>

<div>購入者</div>
<div><%#= @order_details.%></div>
  
    <% @orders.each do |order| %>
    <tbody>
        <tr>
            <td><%= order.created_at %></td>
            <td><%#= order.order_id.customer_1.last_name + " " + order.order_id.customer_1.first_name %></td>
            <td><%= order.amount%></td>
            <td><%= order.making_status %></td>
        </tr>
    </tbody>
    <% end %>
</table>

