<!--<= form_with model: @cart_item, url: cart_items_path, do |f| %>-->

<%= image_tag @item.image, (10,20) %>

<div>
<%= @item.name %><br>

<%= @item.introduction %><br>

¥<%= @item.price %>(税込)


</div>